{% extends 'base.html.twig' %}

{% block title %}Hello LoanProposalController!{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <h3 class="mt-2">Loans Proposal History</h3>

            <div class="row">
                <div class="col4">
                    <a href="{{ path('app_loan_proposal_store') }}" class="btn btn-primary btn-lg square mt-3 mb-3 mr-2" role="button">Calculate new</a>
                </div>
                <div class="col4">
                    <a href="{{ path('app_loan') }}" class="btn btn-primary btn-lg square mt-3 mb-3 mr-2" role="button">Fee schedule</a>
                </div>
                <div class="col4">
                    <a href="{{ path('app') }}" class="btn btn-primary btn-lg square mt-3 mb-3 mr-2" role="button">Back</a>
                </div>
            </div>

            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Amount</th>
                    <th>Term</th>
                    <th>Fee</th>
                    <th>Delete</th>
                </tr>

                {% for loan_proposal in loan_proposals %}
                    <tr>
                        <td>{{ loan_proposal.id|e }}</td>
                        <td>{{ loan_proposal.amount|e }}</td>
                        <td>{{ loan_proposal.term|e }}</td>
                        <td>{{ loan_proposal.fee|e }}</td>
                        <td> <a href="{{ path('app_loan_proposal_delete', {'id': loan_proposal.id}) }}" class="btn btn-danger square" role="button">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
