{% extends 'base.html.twig' %}

{% block title %}Hello LoanController!{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h3 class="mt-2">Loans</h3>

            <div class="row">
                <div class="col4">
                    <a href="{{ path('app_loan_store') }}" class="btn btn-primary btn-lg square mt-3 mb-3 mr-2" role="button">Add new</a>
                </div>
                <div class="col4">
                    <a href="{{ path('app') }}" class="btn btn-primary btn-lg square mt-3 mb-3 mr-2" role="button">Back</a>
                </div>
            </div>

            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Amount</th>
                    <th>Term</th>
                    <th>Fee</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

            {% for loan in loans %}
                <tr>
                    <td>{{ loan.id|e }}</td>
                    <td>{{ loan.amount|e }}</td>
                    <td>{{ loan.term|e }}</td>
                    <td>{{ loan.fee|e }}</td>
                    <td><a href="{{ path('app_loan_edit', {'id': loan.id}) }}" class="btn btn-success square" role="button">Edit</a></td>
                    <td><a href="{{ path('app_loan_delete', {'id': loan.id}) }}" class="btn btn-danger square" role="button">Delete</a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
